@import "includes/settings";
@import "includes/reset";

body{
	background: linear-gradient(45deg,#eee, #eaa);
}

.page{
	padding: 50px;
}

h1{
	color:blue;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
}