<div class="page">
	<div class="navbar menubar" id="menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
				<a class="navbar-brand logo" href="">MyPlace</a>
			</div>
			<div>
				<nav class="collapse navbar-collapse top-menu" id="myNavbar" role="navigation">
				</nav>
			</div>
		</div>
	</div>
	<div class="content">
	</div>
</div>