<div class="notes">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-10 col-12">
				<p>
					У каждого в городе есть любимые места. И порой так необходимо знать, свободен ли твой любимый столик прямо сейчас, или же забронировать его на удобное для тебя время. Что может быть проще с нашим сервисом "MyPlace"? 
				</p>
				<p>
					А может быть ты сам владелец кафе, и тебе нужна удобная система онлайн бронирования столов? Тогда тебе к нам. Создай свою схему зала, установи свои правила и управляй бронированием мест через нашу систему!
				</p>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-12 text-center">
				<button>Посмотреть возможости</button>
			</div>
		</div>
	</div>
</div>
<div class="features" id="features">
	<div class="container places">
	</div>
</div>
