<div class="page">
	<div class="navbar menubar" id="menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
				<a class="navbar-brand logo" href="">MyPlace</a>
			</div>
			<div>
				<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
					<ul class="nav navbar-nav navbar-right navstyle">
						<li><a href="#banner" class="page-scroll active">Милый дом</a></li>
						<li><a href="#features" class="page-scroll">Места</a></li>
						<li><a href="#gallery" class="page-scroll">Войти</a></li>
						<li><a href="#gallery" class="page-scroll">Регистрация</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="content">
	</div>
</div>
