<h2><small>Самые интересные места в</small> Сергиевом Посаде</h2>
<div class="places col-md-12 col-sm-12 col-xs-12">
	<% _.each( models, function( item ){ %>
		<div class = 'col-md-6 col-sm-6 col-xs-12 featurebox'>
			<div class="col-md-5 place-image">
				<img src="<%= item.get('img') %>" class="img-responsive"/>
			</div>
			<div class="col-md-7">
				<h3><a href="/#place/<%= item.attributes.id %>"><%= item.get('name') %></a></h3>
				<% if(item.get('category')) { %>
					<p class="category"><%= item.get('category') %></p>
				<% } %>
				<p><%= item.get('desc') %></p>
			</div>
		</div>
	<% }); %>
</div>